<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/css/all.min.css">
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/js/all.min.js">
  <script src="{{ base_url }}/libs/jquery-3.7.1.min.js"></script>
  <script src="{{ base_url }}/js/bootstrap.min.js"></script>
  <title>Empresa - Recibo</title>
</head>
<body style="background-color: #d6d6d6">
<header class="p-2" style="background-color: #783d12;">
  <div class="container">
    <img src="{{ base_url }}/img/Tipografia.png" class="img-fluid mx-auto d-block" style="width: 40%; padding: 15px; border-radius: 5px" alt="Logo Cabeçote 100%"/>
  </div>
</header>
  <nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #FFA006;">
    <a class="navbar-brand" href="#">Cabeçote 100%</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('home') }}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ path_for('company.index') }}">Empresa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos e Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recibos</a>
        </li>
      </ul>
      <span class="navbar-text">
        <i>Sistema para emissão de recibos</i>
      </span>
    </div>
  </nav>
  <h4 class="text-center" style="margin-top: -30px">Dados da Empresa</h4>
  <h6 class="text-center" style="margin-top:0">Gerenciar os dados da Empresa</h6>

  {% include "components/notifications.twig" %}

  <div class="container">
    <form action="" method="POST" enctype="multipart/form-data">

      <div class="form-row"> <!-- Ínicio -->
        <div class="form-group col-md-4">
          <label for="company">Nome Fantasia</label>
          <input type="text" class="form-control" id="company" name="company-name">
        </div>

        <div class="form-group col-md-4">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" name="cnpj">
        </div>

        <div class="form-group col-md-4">
          <label for="ie">Inscrição Estadual  ou CF/DF</label>
          <input type="text" class="form-control" id="ie" name="ie-cfdf">
        </div>
      </div> <!-- Fim do form-row -->
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="logradouro">Logradouro</label>
          <input type="text" class="form-control" id="logradouro" name="logradouro">
        </div>
        <div class="form-group col-md-4">
          <label for="postal-code">CEP</label>
          <input type="text" class="form-control" id="postal-code" name="postal-code">
        </div>
        <div class="form-group col-md-4">
          <label for="number">Número</label>
          <input type="text" class="form-control" id="number" name="numero">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="district">Bairro</label>
          <input type="text" class="form-control" id="district" name="district">
        </div>
        <div class="form-group col-md-3">
          <label for="city">Cidade</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="form-group col-md-3">
          <label for="Estado">Estado</label>
          <input type="text" class="form-control" id="Estado" name="uf">
        </div>

        <div class="form-group col-md-3">
          <label for="phone">Telefone</label>
          <input type="text" class="form-control" id="phone" name="phone">
        </div>
      </div>

      <div class="form-group">
        <label for="logo-upload">Logomarca</label>
        <input type="file" class="form-control-file" id="logo-upload" name="logo" accept="image/x-png,image/gif,image/jpeg">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar Empresa</button>
    </form>
  </div>
</body>
</html>