<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/css/all.min.css">
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/js/all.min.js">
  <script src="{{ base_url }}/libs/jquery-3.7.1.min.js"></script>
  <script src="{{ base_url }}/js/bootstrap.min.js"></script>
  <title>Emitir Recibos</title>
</head>
<body style="background-color: #d6d6d6">
<header class="p-2" style="background-color: #783d12;">
  <div class="container">
    <img src="{{ base_url }}/img/Tipografia.png" class="img-fluid mx-auto d-block" style="width: 40%; padding: 15px; border-radius: 5px" alt="Logo Cabeçote 100%"/>
  </div>
</header>
  <nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #FFA006;">
    <a class="navbar-brand" href="#">Cabeçote 100%</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('company.index') }}">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos e Serviços</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Recibos <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="navbar-text">
        <i>Sistema para emissão de recibos</i>
      </span>
    </div>
  </nav>
  <h4 class="text-center" style="margin-top: -30px">Emissão de Recibos</h4>
  <h6 class="text-center" style="margin-top:0">Emitir Recibo</h6>
  <hr>
  
  <div class="container mb-5">
  </div>


</div>
</body>
</html>