<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/css/all.min.css">
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/js/all.min.js">
  <script src="{{ base_url }}/libs/jquery-3.7.1.min.js"></script>
  <script src="{{ base_url }}/js/bootstrap.min.js"></script>
  <title>Emitir Recibos</title>
</head>
<body style="background-color: #d6d6d6">
<header class="p-2" style="background-color: #783d12;">
  <div class="container">
    <img src="{{ base_url }}/img/Tipografia.png" class="img-fluid mx-auto d-block" style="width: 40%; padding: 15px; border-radius: 5px" alt="Logo Cabeçote 100%"/>
  </div>
</header>
  <nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #FFA006;">
    <a class="navbar-brand" href="#">Cabeçote 100%</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('company.index') }}">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos e Serviços</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Recibos <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="navbar-text">
        <i>Sistema para emissão de recibos</i>
      </span>
    </div>
  </nav>
  <h4 class="text-center" style="margin-top: -30px">Emissão de Recibos</h4>
  <h6 class="text-center" style="margin-top:0">Emitir Recibo</h6>
  <p class="text-right font-italic mr-4 font-weight-bold">Data da operação: {{ "now"|date("d/m/Y H:i", "America/Sao_Paulo") }}</p>
  <hr>
  
  <div class="container mb-5">
    {% include "components/notifications.twig" %}
    
    <form action="#" method="POST" name="invoice">

      <div class="form-group row">
        <label for="customer" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-10">
          <select name="customer" id="customer" class="custom-select mr-sm-2">
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="payment" class="col-sm-2 col-form-label">Forma de pagamento</label>
        <div class="col-sm-10">
          <select name="payment" id="payment" class="custom-select mr-sm-2">
            <option value="Pix">Pix</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Cartão de Débito">Cartão de Débito</option>
            <option value="Cartão de Crédito">Cartão de Crédito</option>
          </select>
        </div>
      </div>

      <hr>

      <br> <h6 class="text-center">Produtos e/ou Serviços</h6> <br>

      <div class="form-group row">

        <div class="form-group col-md-3">
          <label for="">Produto ou Serviço</label>
          <select name="product1" id="product1" class="custom-select mr-sm-2 product-select" ></select>
        </div>

        <div class="form-group col-md-3">
          <label for="">Quantidade</label>
          <input type="number" class="form-control quantity-input" name="qtd1" id="qtd1" min="0"/>
        </div>

        <div class="form-group col-md-3">
          <label for="">Valor Unitário</label>
          <input type="number" class="form-control price-input" name="price1" id="price1" readonly />
        </div>

        <div class="form-group col-md-3">
          <label for="">Subtotal</label>
          <input type="number" class="form-control subtotal-input" name="subtotal1" id="subtotal1" readonly>
        </div>

      </div>
      <hr>

      <div class="form-group row">

        <div class="form-group col-md-3">
          <label for="">Produto ou Serviço</label>
          <select name="product2" id="product2" class="custom-select mr-sm-2 product-select"></select>
        </div>

        <div class="form-group col-md-3">
          <label for="">Quantidade</label>
          <input type="number" class="form-control quantity-input" id="qtd2" name="qtd2" min="0">
        </div>

        <div class="form-group col-md-3">
          <label for="">Valor Unitário</label>
          <input type="number" class="form-control price-input" id="price2" name="price2" readonly>
        </div>

        <div class="form-group col-md-3">
          <label for="">Subtotal</label>
          <input type="number" class="form-control subtotal-input" id="subtotal2" name="subtotal2" readonly>
        </div>

      </div>
      <hr>

      <div class="form-group row">

        <div class="form-group col-md-3">
          <label for="">Produto ou Serviço</label>
          <select name="product3" id="product3" class="custom-select mr-sm-2 product-select"></select>
        </div>

        <div class="form-group col-md-3">
          <label for="">Quantidade</label>
          <input type="number" class="form-control quantity-input" min="0">
        </div>

        <div class="form-group col-md-3">
          <label for="">Valor Unitário</label>
          <input type="number" class="form-control price-input" readonly>
        </div>

        <div class="form-group col-md-3">
          <label for="">Subtotal</label>
          <input type="number" class="form-control subtotal-input" id="subtotal3" readonly>
        </div>
        
      </div>
      <hr>


      <div class="form-group row">

        <div class="form-group col-md-3">
          <label for="">Produto ou Serviço</label>
          <select name="product4" id="product4" class="custom-select mr-sm-2 product-select"></select>
        </div>

        <div class="form-group col-md-3">
          <label for="">Quantidade</label>
          <input type="number" class="form-control quantity-input" min="0">
        </div>

        <div class="form-group col-md-3">
          <label for="">Valor Unitário</label>
          <input type="number" class="form-control price-input" readonly>
        </div>

        <div class="form-group col-md-3">
          <label for="">Subtotal</label>
          <input type="number" class="form-control subtotal-input" id="subtotal4" readonly>
        </div>

      </div>
      <hr>

      <div class="form-group row">

        <div class="form-group col-md-3">
          <label for="">Produto ou Serviço</label>
          <select name="product5" id="product5" class="custom-select mr-sm-2 product-select"></select>
        </div>

        <div class="form-group col-md-3">
          <label for="">Quantidade</label>
          <input type="number" class="form-control quantity-input" min="0">
        </div>

        <div class="form-group col-md-3">
          <label for="">Valor Unitário</label>
          <input type="number" class="form-control price-input" readonly>
        </div>

        <div class="form-group col-md-3">
          <label for="">Subtotal</label>
          <input type="number" class="form-control subtotal-input" id="subtotal5" readonly>
        </div>

      </div>
      <hr>

      <div class="form-group row">
        <label for="obs" class="col-sm-2 col-form-label">Observações:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="obs" id="obs">
        </div>
      </div>
      <hr>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="discount">
        </div>
        <div class="form-group col-md-6">
          <label for="discount"><b>Total</b></label>
          <input type="text" class="form-control" name="total" id="total" readonly>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="form-group ">
          <button type="submit" class="btn btn-primary">Emitir recibo</button>
        </div>
      </div>

    </form>

  </div>


</div>

<script src="{{ base_url() }}/js/invoice.js"></script>
<script src="{{ base_url() }}/js/invoice2.js"></script>
</body>
</html>