<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/css/all.min.css">
  <link rel="stylesheet" href="{{ base_url }}/libs/fontawesome-free-5.15.4-web/js/all.min.js">
  <script src="{{ base_url }}/libs/jquery-3.7.1.min.js"></script>
  <script src="{{ base_url }}/js/bootstrap.min.js"></script>
  <title>Cliente - Recibo</title>
</head>
<body style="background-color: #d6d6d6">
<header class="p-2" style="background-color: #783d12;">
  <div class="container">
    <img src="{{ base_url }}/img/Tipografia.png" class="img-fluid mx-auto d-block" style="width: 40%; padding: 15px; border-radius: 5px" alt="Logo Cabeçote 100%"/>
  </div>
</header>
  <nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #FFA006;">
    <a class="navbar-brand" href="#">Cabeçote 100%</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('company.index') }}">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('customer.index') }}">Cliente</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ path_for('productService.index') }}">Produtos e Serviços<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('invoice.index') }}">Recibos</a>
        </li>
      </ul>
      <span class="navbar-text">
        <i>Sistema para emissão de recibos</i>
      </span>
    </div>
  </nav>
  <h4 class="text-center" style="margin-top: -30px">Produtos e Serviços Cadastrados</h4>
  <h6 class="text-center" style="margin-top:0">Gerenciar os produtos e/ou serviços</h6>

  <div class="container">
    {% include "components/notifications.twig" %}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produto e/ou Serviço</th>
          <th scope="col">Tipo de Item</th>
          <th scope="col">Tipo de Unidade</th>
          <th scope="col">Preço</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>

      {% for productsService in productsServices %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ productsService.product_service }}</td>
          <td>{{ productsService.type }}</td>
          <td>{{ productsService.units }}</td>
          <td>R${{ productsService.price }}</td>
          <td>
          <a href="{{ path_for('productService.edit', { 'id': productsService.id_product_service }) }}" class="btn btn-warning">Editar</a>
          <a href="{{ path_for('productService.delete', { 'id': productsService.id_product_service }) }}" class="btn btn-danger">Excluir</a>
          </td>
        </tr>
      {% else %}
      {% endfor %}
      </tbody>
    </table>

    <!-- Page -->
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					{% if productsServices.currentPage() > 1 %}
						<li class="page-item">
							<a class="page-link" href="{{ path_for('productService.manager', {}, {'page': productsServices.previousPageUrl()|split('=')|last }) }}">Anterior</a>
						</li>
					{% endif %}

					{% for page in 1..productsServices.lastPage() %}
						<li class="page-item {% if page == productsServices.currentPage() %}active{% endif %}">
							<a class="page-link" href="{{ path_for('productService.manager', {}, {'page': page}) }}">{{ page }}</a>
						</li>
					{% endfor %}

					{% if productsServices.hasMorePages() %}
						<li class="page-item">
							<a class="page-link" href="{{ path_for('productService.manager', {}, {'page': customers.nextPageUrl()|split('=')|last }) }}">Próxima</a>
						</li>
					{% endif %}
				</ul>
			</nav>
			<!-- Page -->

    <a href="{{ path_for('productService.index')}}" class="btn btn-secondary">Cadastrar Produtos e Serviços</a>
  </div>
</body>
</html>